<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{person}">
        <div class="uzk15__editorblock default">
            <ul>
                <f:for each="{person.patents}" as="patent">
                    <li>
                        <span>"{patent.title}", </span>
                        <span><f:translate key="hio.patent.patentNumber"/>: {patent.details.patentNumber}, <f:translate
                                key="hio.patent.status"/>: {patent.details.status}</span>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:if>

</f:section>

</html>
