<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{person}">
        <div class="uzk15__editorblock default">
            <ul>
                <f:for each="{person.projects}" as="project">
                    <li>
                        <span>"{project.title}", </span>
                        <span><f:translate key="hio.list.project.startDate"/>: <f:format.date format="d.m.Y">{project.details.startDate}</f:format.date>, <f:translate
                                key="hio.list.project.status"/>: {project.details.status}</span>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:if>

</f:section>

</html>
