<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:if condition="{person}">
        <div class="uzk15__editorblock default">
            <h1 class="">{person.name}</h1>
        </div>
    </f:if>
    <f:if condition="{person.publications}">
        <div class="uzk15__editorblock default">
            <h2>Meine Veröffentlichungen</h2>
            <f:render partial="SelectedPerson/PublicationList" arguments="{publications: person.publications}"/>
        </div>
    </f:if>
    <f:if condition="{person.projects}">
        <div class="uzk15__editorblock default">
            <h2>Meine Projekte</h2>
            <f:render partial="SelectedPerson/ProjectList" arguments="{projects: person.projects}"/>
        </div>
    </f:if>
    <f:if condition="{person.patents}">
        <div class="uzk15__editorblock default">
            <h2>Meine Patente</h2>
            <f:render partial="SelectedPerson/PatentList" arguments="{patents: person.patents}"/>
        </div>
    </f:if>
    <ul class="f3-widget-paginator">
        <li class="previous">
            <f:link.action
                    action="{listAction}"
                    arguments="{currentPageNumber:currentPageNumber, searchTerm:searchTerm}"
            >
                <f:translate key="ListPaginationPrevious" extensionName="HioTypo3Connector" />
            </f:link.action>
        </li>
    </ul>
</f:section>

</html>
