<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{conference}">
    <p>
        <f:translate key="hio.show.publication.conference.name"/>
    </p>
    <h2>{conference.name}</h2>
    <dl>
        <dt>
            <f:translate key="hio.show.publication.conference.date"/>
        </dt>
        <dd>
            {conference.startDate} - {conference.endDate}
        </dd>
        <dt>
            <f:translate key="hio.show.publication.conference.language"/>
        </dt>
        <dd>
            {conference.language}
        </dd>
        <dt>
            <f:translate key="hio.show.publication.conference.type"/>
        </dt>
        <dd>
            {conference.type}
        </dd>
    </dl>
</f:if>

</html>
