<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{conference}">
    <p>
        <f:translate key="hio.show.publication.conference.name"/>
    </p>
    <h2>{conference.name}</h2>
    <dl class="divide-y divide-gray-100">
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.conference.date"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {conference.startDate} - {conference.endDate}
        </dd>
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.conference.language"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {conference.language}
        </dd>
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.conference.type"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {conference.type}
        </dd>
    </dl>
</f:if>

</html>
