<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{journal}">
    <p>
        <f:translate key="hio.show.publication.journal.title"/>
    </p>
    <h2>{journal.title}</h2>
    <p>{journal.publisher}</p>
    <dl class="divide-y divide-gray-100">
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.journal.issue"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {journal.issue} - {journal.releaseYear}
        </dd>
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.journal.pageRange"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {journal.pageRange}
        </dd>
        <dt class="text-sm/6 font-medium text-gray-900">
            <f:translate key="hio.show.publication.journal.volume"/>
        </dt>
        <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
            {journal.volume}
        </dd>
    </dl>
</f:if>

</html>
