<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{doctorate.details}">
    <li>
        <span>"<f:link.action
                action="show"
                arguments="{doctorate: doctorate.uid, currentPageNumber: currentPageNumber}"
        >{doctorate.title}</f:link.action>", </span>
        <span><f:translate key="doctorate.courseOfStudy" />: {doctorate.details.courseOfStudy}, <f:translate key="doctorate.language" />: {doctorate.details.language}</span>
    </li>
</f:if>

</html>
