<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{habilitation.details}">
    <li>
        <span>"<f:link.action
                action="show"
                arguments="{habilitation: habilitation.uid, currentPageNumber: currentPageNumber}"
        >{habilitation.title}</f:link.action>", </span>
        <span><f:translate key="habilitation.status" />: {habilitation.details.status}, <f:translate key="habilitation.language" />: {habilitation.details.language}</span>
    </li>
</f:if>

</html>
