<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{doctorates}">
        <ul class="list-none">
            <f:for each="{doctorates}" as="doctorate">
                <li class="uzk15highlight">
                    <span>{doctorate.title}, </span>
                    <span><f:translate key="doctorate.courseOfStudy" />: {doctorate.details.courseOfStudy}, </span>
                    <span><f:translate key="doctorate.language" />: {doctorate.details.language}</span>
                </li>
            </f:for>
        </ul>
</f:if>

</html>
