<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{doctoralPrograms}">
        <ul class="list-none">
            <f:for each="{doctoralPrograms}" as="doctoralProgram">
                <li class="uzk15highlight">
                    <span>{doctoralProgram.title}, </span>
                    <span><f:translate key="doctoralProgram.courseOfStudy" />: {doctoralProgram.details.courseOfStudy}, </span>
                    <span><f:translate key="doctoralProgram.language" />: {doctoralProgram.details.language}</span>
                </li>
            </f:for>
        </ul>
</f:if>

</html>
