<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{publications}">
    <f:then>
        <f:groupedFor each="{publications}" as="publicationsOfThisType" groupBy="{settings.groupBy}"
                      groupKey="publicationType">
            <h4 class="uzk15__standard_h4 uzk15_header_">{publicationType}</h4>
            <ul>
                <f:for each="{publicationsOfThisType}" as="publication">
                    <li class="uzk15highlight">
                        <f:render partial="SelectedPerson/Publication/Item" arguments="{_all}"/>
                    </li>
                </f:for>
            </ul>
        </f:groupedFor>
    </f:then>
</f:if>

</html>
