<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:layout name="Default"/>

<f:section name="Main">
    <f:flashMessages/>
    <f:if condition="{publication.details}">
        <div class="uzk15__editorblock default">
            <p>
                {publication.details.type}
                &middot;
                {publication.details.resource}
                &middot;
                {publication.details.status}
            </p>
            <h1>{publication.details.title}</h1>
            <f:if condition="{publication.details.subtitle}">
                <p>{publication.details.subtitle}</p>
            </f:if>
            <f:if condition="{publication.details.abstract}">
                <p>{publication.details.abstract}</p>
            </f:if>
        </div>

        <div class="uzk15__editorblock default">
            <dl>
                <dt>
                    <f:if condition="{publication.details.persons -> f:count()} == 1">
                        <f:then>
                            <f:translate key="hio.show.publication.author"/>
                        </f:then>
                        <f:else>
                            <f:translate key="hio.show.publication.authors"/>
                        </f:else>
                    </f:if>
                </dt>
                <dd>
                    <f:for each="{publication.details.persons}" as="person" key="index">
                        <f:render partial="Publication/Show/PersonLink" arguments="{person: person}"/>
                    </f:for>
                </dd>
                <f:if condition="{publication.details.journal}">
                    <dt>
                        <f:translate key="hio.show.publication.journal"/>
                    </dt>
                    <dd>{publication.details.journal.title}
                    </dd>
                </f:if>
                <dt>
                    <f:translate key="hio.show.publication.globalIdentifiers.doi"/>
                </dt>
                <dd>
                    <f:for each="{publication.details.globalIdentifiers}" as="identifier">
                        <f:if condition="{identifier.type} == 'DOI'">
                            <f:then><a href="https://doi.org/{identifier.id}">{identifier.id}</a></f:then>
                        </f:if>
                    </f:for>
                </dd>
                <f:if condition="{publication.details.keywords}">
                    <dt>
                        <f:if condition="{publication.details.keywords -> f:count()} == 1">
                            <f:then>
                                <f:translate key="hio.show.publication.keyword"/>
                            </f:then>
                            <f:else>
                                <f:translate key="hio.show.publication.keywords"/>
                            </f:else>
                        </f:if>
                    </dt>
                    <dd>
                        <f:for each="{publication.details.keywords}" as="keyword" key="index">
                            <span>{keyword}</span>
                        </f:for>
                    </dd>
                </f:if>
            </dl>

            <f:if condition="{publication.details.conference}">
                <f:then>
                    <f:render partial="Publication/Show/Conference"
                              arguments="{conference: publication.details.conference}"/>
                </f:then>
            </f:if>

            <f:if condition="{publication.details.journal}">
                <f:then>
                    <f:render partial="Publication/Show/Journal" arguments="{journal: publication.details.journal}"/>
                </f:then>
            </f:if>
        </div>
    </f:if>

    <ul class="f3-widget-paginator">
        <li class="previous">
            <f:link.action
                    action="index"
                    arguments="{currentPageNumber:currentPageNumber}"
            >
                <f:translate key="ShowBackToList" extensionName="HioTypo3Connector"/>
            </f:link.action>
        </li>
    </ul>

</f:section>

</html>
