<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true">

        <ul class="f3-widget-paginator">
            <f:if condition="{pagination.previousPageNumber}">
                <f:then>
                    <li class="previous">
                        <f:link.action
                                arguments="{currentPageNumber:pagination.previousPageNumber}"
                        >
                            <f:translate key="ListPaginationPrevious" extensionName="HioTypo3Connector" />
                        </f:link.action>
                    </li>
                </f:then>
            </f:if>

            <f:for each="{pagination.allPageNumbers}" as="page">
                <f:if condition="{currentPageNumber}=={page}">
                    <f:then>
                        <li class="current">
                            {page}
                        </li>
                    </f:then>
                    <f:else>
                        <li>
                        <f:link.action
                                arguments="{currentPageNumber:page}"
                        >
                            {page}
                        </f:link.action>
                        </li>
                    </f:else>
                </f:if>

            </f:for>

            <f:if condition="{pagination.nextPageNumber}">
                <f:then>
                    <li class="next">
                        <f:link.action
                                arguments="{currentPageNumber:pagination.nextPageNumber}"
                        >
                            <f:translate key="ListPaginationNext" extensionName="HioTypo3Connector" />
                        </f:link.action>
                    </li>
                </f:then>
            </f:if>
    </ul>

</html>
