<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<f:if condition="{doctoralProgram.details}">
    <li>
        <span>"<f:link.action
                action="show"
                arguments="{doctoralProgram: doctoralProgram.uid, currentPageNumber: currentPageNumber, searchWord: searchWord, listAction:action}"
        >{doctoralProgram.title}</f:link.action>", </span>
        <span><f:translate key="doctoralProgram.courseOfStudy" />: {doctoralProgram.details.courseOfStudy}, <f:translate key="doctoralProgram.language" />: {doctoralProgram.details.language}</span>
    </li>
</f:if>

</html>
